@model NutriationSite.Models.Parameter

<h2>@Model.Name</h2>
@{
    string d = "chart" + @Model.Id;
    <div id=@d style="position: relative" onmouseover="window.PN.chart.btnDelShow(@Model.Id)" onmouseout="window.PN.chart.btnDelHide(@Model.Id)"></div>

    string href = "/Parameter/AddValue?id=" + Model.Id; 
    <input type="button" value="Add Value" class="viewDialog" href="@href" style="float:right">
}
