@model IEnumerable<NutriationSite.Models.Parameter>

@{
    ViewBag.Title = "Index";
}



@{
    if (Request.IsAuthenticated)
    {
        <h1>Parameters</h1>
        foreach (NutriationSite.Models.Parameter i in @Model)
        {
            @Html.Partial("_Chart", i);
        }
        <br />
        <p><input id="add-parameter-btn" type="button" value="Add new parameter"></p>
    }
    else
    {
        <h1>Greetings</h1>
        <p>This is a home page</p>
        <p>Pleas @Html.ActionLink("login", "Login", "Account")</p>
    }
}

<!--Hidden dialog-->
<div id="add-value-dialog" title="Add new value" style="display:none">

    @using (Html.BeginForm("AddValue", "Parameter", FormMethod.Post, new { id = "value-form" }))
    {
        @Html.Hidden("Parameter_Id");

        <div class="editor-field">
            @Html.Label("Value", "Value:")
            <span id="value-empty-validation-message" class="validation-message">Please enter value</span>
            <span id="value-isnumber-validation-message" class="validation-message">Please enter number</span>
            @Html.Editor("Value", new { style = "width:300px" })
        </div>
        <div class="editor-label">
            @Html.Label("Comment", "Comment:")
            @Html.TextArea("Comment", new { style = "width:300px" })
        </div>
    }
</div>

<div id="add-parameter-dialog" title="Add new parameter" style="display:none">

    @using (Html.BeginForm("AddParameter", "Parameter", "POST"))
    {       
        <div class="editor-field">
            @Html.Label("Name", "Name:")
            <span id="name-validation-message" class="validation-message">Please enter name</span>
            @Html.Editor("Name", new { style = "width:300px" })
        </div>
        <div class="editor-label">
            @Html.Label("Measure_Unit", "Unit:")
            @Html.Editor("Measure_Unit", new { style = "width:300px" })
        </div>
    }
</div>

@Styles.Render("~/Content/ParamPage.css")
@Scripts.Render("https://www.google.com/jsapi")
@Scripts.Render("~/Scripts/App/Chart/Chart.js")

<script>
    google.load("visualization", "1", { packages: ["corechart"] });
</script>
